@font-face {
    font-family: 'Nunito Sans';
    src: url('../../common/lib/fonts/Nunito_Sans/NunitoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../common/lib/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat light italic';
    src: url('../../common/lib/fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: oblique;
}

* {
    font-family: 'Nunito Sans';
}
h1, h2 {
    font-family: 'Montserrat';
}
h3 {
    font-family: 'Montserrat light italic';
}

.width-12{width:12% !important;}

.width-24{width:24% !important;}

.width-25{width:25% !important;}

.width-30{width:30% !important;}

.width-32{width:32% !important;}

.width-40{width:40% !important;}

.width-68{width:68% !important;}

.width-76{width:76% !important;}

.bookBtn{
	width: 30% !important;
	margin: 15px;
}

.newsBtn{
	width: 29% !important;
	margin: 15px;
}

.homeBtn{
	background: #ac5c84 !important;
	border: none;
	color: white !important;
	font-size: 0.93em !important;
	
}

.tab {
    width: 19% !important;
    clear: none !important;  /* Prevent line break */
	border: 3px solid #7d003e;
	
} 

.book-image {
    height: 20em;
}

.center-content {
    text-align: center;
}

.justify-content {
    text-align: justify;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #7d003e;
    padding: 0.05em;
}

.navbar-list li a {
    font-size: 1.2em;
}

.narrow-margin {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.narrow-margin-top {
    margin-top: 0.2em;
}

.narrow-margin-bottom {
    margin-bottom: 0.2em;
}

.custom-corners .ui-bar {
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
}
.custom-corners .ui-body {
    border-top-width: 0;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.review-list li p {
    font-size: 1em;
    white-space: normal;
}

.card {
    padding: 1em;
    border-color: #7d003e;
    border-width: 1.5px;
}

.member-image {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    padding: 0.5em;
}

.full-width {
    width: 100vw;
}

.themeColor {
    color: inherit !important;
    background-color: inherit !important;
}

.eventImage {
    width: 100%;
}

.eventStatus legend {
    font-size: 22px;
}

.eventStatus label {
    font-size: 20px;
}

.eventDescription {
    font-size: 24px;
    text-align: justify;
}

.eventImageHolder {
    padding: 0 1em;
}

.contactForm {
    width: 75%;
    margin: 0 auto;
}

.POI-Image {
    width: 95%;
    padding: .5em;
}

.POI-description {
    padding: .5em !important;
}

.POI-content {
    padding: .5em;
}

.mapContainer {
    margin-top: 1.5em !important;
}

.mapContainer .card {
    padding: unset !important;
}

.mapouter {
    text-align: right;
    height: 540px;
    width: 100%;
    margin: 0 auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
}

.gmap_canvas iframe {
    width: 100%;
    height: 540px;
}

@media all and (min-width: 667px){
    .center-container {
        width: 70% !important;
        margin: auto;
    }
}